.header__subtitle {
  padding: 0;
  /*border: 2px solid red;*/
  width: 388px;
  left: 64px;
  bottom: 30px;
  font-family: 'Inter';
  line-height: 25px;
  font-size: 18px;
  max-height: 75px;
  position: absolute;
  z-index: 2;

}
